@import '../../assets/bootstrap/bootstrap.scss';

$height: 30px;
$width: 52px;
$spacing: 4px;
$transition: 300ms ease-in-out;
$bg-color: $gray-300;
$color: $white;

.switch {
  position: relative;
  height: $height;
  width: $width;
  margin: 0;

  input {
    display: none;
  }

  .slider {
    background-color: $bg-color;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    cursor: pointer;
    transition: $transition;

    &.round {
      border-radius: 34px;

      &::before {
        border-radius: 50%;
      }
    }

    &::before {
      content: '';
      height: $height - 2*$spacing;
      width: $height - 2*$spacing;
      background-color: $color;

      position: absolute;
      bottom: $spacing;
      left: $spacing;
      transition: $transition;
    }
  }

  input:checked + .slider {
    background-color: $primary;
    &::before {
      transform: translateX(100%);
    }
  }
}

$filter-spacing: 4px;
.filter.element {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  border: 1px solid $bg-color;
  border-radius: $spacing;
  padding: $spacing;

  .toggle {
    display: flex;
    margin: $filter-spacing;
    align-items: center;
  }

  .content {
    position: relative;
    margin: $filter-spacing;
    align-content: center;
    min-height: 100%;
    width: 100%;
  }

  &.disabled {
    background-color: lighten($bg-color, 10%);
    .content::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}
