$bg-color: #ddd;
$border-color: #bbb;
$empty-msg-color: #aaa;

.MatchesList {
  width: 100%;
  height: 100%;
  max-height: 100vh;
  overflow-y: auto;

  background-color: $bg-color;
  border-right: 1px solid $border-color;

  .empty {
    display: flex;
    width: 100%;
    height: 100%;

    padding: 1em;

    justify-content: center;
    align-items: center;

    .msg {
      color: $empty-msg-color;
    }
  }

  ul {
    height: 100%;
    padding: 0;
    margin: 0;
  }
}
