$item-height: 64px;
$item-padding: 7px;

$subtitle-color: #aaa;

$bg-color: #fff;
$active-bg-color: darken($bg-color, 5%);

$border-width: 65%;
$active-border-width: 90%;

$border-color: #ddd;
$active-border-color: darken($border-color, 5%);

.MatchesListItem {
  display: flex;
  position: relative;
  width: 100%;
  height: $item-height;
  background-color: $bg-color;

  transition: background-color 300ms;

  // render the underline
  &::after {
    content: '';
    position: absolute;
    width: $border-width;
    height: 1px;
    bottom: 0;
    // calculate middle value
    left: 50% - $border-width/2;
    background-color: $border-color;

    transition: all 300ms;
  }

  // don't render underline for last element
  &:last-child::after {
    width: 0;
    height: 0;
  }

  &.active {
    background-color: $active-bg-color;
    &::after {
      background-color: $active-border-color;
      width: $active-border-width;
      left: 50% - $active-border-width/2;
    }
  }

  .img-container {
    flex: 1;
    padding: $item-padding;
    height: $item-height;
    width: $item-height;

    img {
      height: 100%;
      width: 100%;

      &.circular {
        border-radius: 50%;
      }
    }
  }

  .details {
    width: calc(100% - #{$item-height});
    display: flex;
    flex-direction: column;
    padding: $item-padding;

    .top {
      display: flex;
      justify-content: space-between;

      .left {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;

        .title {
          font-weight: bold;
        }
      }

      .right {
        white-space: nowrap;
        .date {
          color: $subtitle-color;
        }
      }
    }

    .bottom {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;

      .subtitle {
        color: $subtitle-color;
      }
    }
  }
}
