.Login {
  display: flex;
  height: 100%;
  width: 100%;

  justify-content: center;
  align-items: center;

  .container {
    .logo {
      display: flex;
      justify-content: center;
      align-content: center;

      img {
        animation: logo-spin infinite 20s linear;
        height: 80px;
      }
    }
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
